<h3>Ypu are on Page 3 (Currently being Tracked)</h3>
<%= link_to "Page 1", page1_pages_path %>
<%= link_to "Page 2", page2_pages_path %>
<%= link_to "Page 3", page3_pages_path %>
</br>
</br>
<%= link_to "Analytics Dashboard", dashboard_trackers_path %>